---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Maicronet — Conectando Innovación y Servicio',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contactanos',
        href: '#features',
        target: '_blank',
        icon: 'tabler:address-book',
      },
      { text: 'Conocer Más', href: '#features' },
    ]}
  >
    <Fragment slot="title">Conectando Innovación y Servicio</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        En <span class="font-semibold">MAICRONET</span> nos enorgullecemos de ser tu aliado estratégico en soluciones tecnológicas
        y soporte de TI.
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline=""
    title="Elegirnos significa optar por un servicio que se extiende más allá de la mera asistencia técnica"
    subtitle="Nuestro compromiso es brindar un soporte excepcional, asegurando que cada interacción añada valor y eficiencia a su negocio"
    items={[
      {
        title: 'Servicio Técnico',
        description:
          'Nuestro servicio técnico especializado no solo se enfoca en reparaciones, sino también en la prevención de fallas. Realizamos diagnósticos precisos y ofrecemos soluciones rápidas y efectivas para mantener tus sistemas funcionando sin interrupciones, ya sea hardware o software.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Soluciones en la Nube',
        description:
          'Ofrecemos una amplia gama de servicios en la nube, desde almacenamiento de datos hasta plataformas de trabajo colaborativo. Nuestros servicios en la nube son seguros, accesibles y escalables, permitiendo a tu equipo trabajar desde cualquier lugar y en cualquier momento.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Venta de Equipo de Cómputo Nuevo y Usado',
        description:
          'Contamos con un inventario de equipos informáticos que se ajustan a todas las necesidades y presupuestos, ofreciendo tanto productos nuevos como reacondicionados con garantía. Nuestros expertos te ayudarán a seleccionar la mejor opción para tu empresa.',
        icon: 'tabler:components',
      },
      {
        title: 'Soporte Remoto',
        description:
          'Con nuestro soporte remoto, accedemos a tus sistemas de manera segura para resolver problemas técnicos, configurar aplicaciones o realizar mantenimiento preventivo, asegurando así que tu negocio siga operando con eficacia, sin importar dónde te encuentres.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Instalación de Redes Estructuradas',
        description:
          'Diseñamos e implementamos soluciones de red personalizadas que se adaptan a la infraestructura de tu empresa, asegurando una comunicación de datos eficiente y segura, tanto cableada como inalámbrica, escalable a las necesidades futuras de tu negocio.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Aplicaciones Web y Movil',
        description:
          'Creamos soluciones de software a medida, desde sistemas de gestión hasta aplicaciones móviles, mejorando la eficiencia operativa de tu empresa. Nuestros desarrolladores trabajan contigo para construir software que se adapte a tus procesos de negocio únicos.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline=""
    title="En MAICRONET, entendemos que la tecnología es el corazón de su negocio."
    items={[
      {
        title: 'Atención Personalizada',
        description:
          'Cada cliente y cada caso reciben una atención detallada y personalizada, asegurando soluciones a medida que se ajustan perfectamente a las necesidades individuales.',
      },
      {
        title: 'Expertos Calificados',
        description:
          ' Contamos con un equipo de técnicos certificados y constantemente actualizados en las últimas tecnologías, capaces de resolver desde los problemas más comunes hasta los más complejos.',
      },
      {
        title: 'Rapidez de Respuesta',
        description:
          'Entendemos la importancia del tiempo en el negocio, por lo que ofrecemos tiempos de respuesta rápidos para minimizar el impacto de cualquier interrupción técnica.',
      },
      {
        title: 'Garantía de Servicio',
        description:
          'Ofrecemos garantías en nuestros servicios técnicos, proporcionando tranquilidad y confianza en el trabajo realizado.',
      },
    ]}
    image={{
      src: '~/assets/images/servicios.png',
      alt: 'Servicios Maicronet',
    }}
  >
    <Fragment slot="content">
      Por eso nuestro Servicio Técnico no es solo una oferta, es una promesa de excelencia y dedicación. Con atención
      personalizada y un equipo de expertos calificados, garantizamos soluciones eficientes y adaptadas a sus
      necesidades únicas.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Análisis y Consultoría Personalizada',
        description: `Comenzamos cada proyecto con una comprensión profunda de las necesidades y objetivos del cliente, asegurando que nuestras soluciones de software sean totalmente personalizadas y alineadas con sus requerimientos específicos.`,
      },
      {
        title: 'Uso de Tecnologías Modernas',
        description:
          'Empleamos las últimas tecnologías y metodologías de desarrollo para garantizar que su software no solo sea innovador y eficiente, sino también escalable y seguro.',
      },
    ]}
    image={{
      src: '~/assets/images/software.png',
      alt: 'Software',
    }}
  >
    <Fragment slot="content">
      En MAICRONET, no solo reparamos problemas técnicos, sino que nos adelantamos a ellos con soluciones sostenibles y
      un seguimiento post-servicio que garantiza su total satisfacción. Extendiendo nuestra experiencia más allá del
      soporte técnico, nos destacamos en el desarrollo de software a medida. Creamos soluciones innovadoras, eficientes
      y seguras, diseñadas específicamente para satisfacer las necesidades únicas de su negocio.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Pruebas Rigurosas y Control de Calidad',
        description:
          'Aseguramos la calidad del software mediante pruebas exhaustivas y controles de calidad, reduciendo errores y mejorando la experiencia del usuario final.',
      },
      {
        title: 'Integración de Sistemas',
        description:
          'Nos encargamos de integrar el nuevo software con sus sistemas existentes, asegurando una transición suave y una operatividad sin interrupciones.',
      },
      {
        title: 'Soporte y Mantenimiento Post-Lanzamiento',
        description:
          'Ofrecemos servicios de soporte y mantenimiento continuo para asegurar que el software siga funcionando de manera óptima y se adapte a las cambiantes necesidades del negocio.',
      },
    ]}
    image={{
      src: '~/assets/images/software2.png',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
